hold my hand and ill respond yaweh 
play your sound and watch me dance
draw me closer to ther rythm of your sprit and wacht me dance into your tune

i am the clay lord,
you are th porter , 
mold me lord to be the best you want. 

change my face change 
the way i look 
for you break the port 
to make it better 
and thats all i want me to beee, 
for i am clay and you are the potter, for  i am the clay and you are the portere 
make me lord to be the best that u always want

jesu, my world is waiting
waiting for fire
for breaking all

jesus an hungry 
jesus am thirst
register me ooh

am not wastng time, calling upon the lord  (x3)
eeh yah eeh

jesu my love  i want ti make you proud with wat i do

1. Jashobeam - son of hachmonite -- spear over 300
2. Eliazer - son of dodo  -- defeated philistines stationed in middle 
3. some 3 men of the thirty when david wanted to drink water from well of bethelem this went broke into philistineds
4. abishai brother of joab -- 300 men spear 
5. Binaiah - son of jehoida -- killed 2 lions like son of moab
6. 