hold my hand and ill respond yaweh 
play your sound and watch me dance
draw me closer to ther rythm of your sprit and wacht me dance into your tune

i am the clay lord,
you are th porter , 
mold me lord to be the best you want. 

change my face change 
the way i look 
for you break the port 
to make it better 
and thats all i want me to beee, 
for i am clay and you are the potter, for  i am the clay and you are the portere 
make me lord to be the best that u always want

